@import "~vue-multiselect/dist/vue-multiselect.min.css";


.form-control-label {
  @apply block m-1;
  .required {
    @apply text-red-400;
  }
}

.form-control {
  @apply block appearance-none outline-none w-full bg-white border border-gray-300 px-2 py-2 rounded shadow leading-normal;

  &:disabled {
    @apply bg-gray-400;
  }
}


.multiselect {

  input {
    @apply border-0;
  }

  .multiselect__tags {
    border: 0;
  }

  &.form-control {
    padding: 0;
  }

  .multiselect__content-wrapper {
    z-index: 99999;
  }

  .multiselect__element {
    .multiselect__option--highlight {
      @apply bg-gray-200 text-gray-800;
    }

    .multiselect__option--highlight:after {
      @apply bg-gray-200 text-gray-800;
    }

    .multiselect__option--selected {
      @apply bg-green-500 text-white;
    }

    .multiselect__option--selected:after {
      @apply bg-green-500 text-white;
    }

  }
}

.form-file-dropzone {

  @apply text-center border cursor-pointer;

}

.form-check {
  @apply my-4;

  input[type=checkbox] + label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
  }

  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox] + label:before {
    content: "\2714";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    padding-left: 0.2em;
    padding-right: 0.1em;
    margin-right: 0.2em;
    color: transparent;
    transition: .2s;
  }

  input[type=checkbox] + label:active:before {
    transform: scale(0);
  }

  input[type=checkbox]:checked + label:before {
    @apply bg-white text-gray-800 border-gray-800 rounded;
  }

}

.inline-form-controls {
  .form-group {
    @apply flex justify-between;

    label {
      @apply w-1/2;
    }

    .form-control {
      @apply w-1/2;
    }
  }
}

.button {
  @apply px-4 py-2 mx-2 bg-gray-800 text-white;
}
