{
    "presets": [
        ["env", {
            "targets": {
                "browsers": ["last 3 versions", "safari >= 7"],
                "uglify": true
            },
            "modules": "umd"
        }]
    ],
    "plugins": ["transform-object-rest-spread", "transform-class-properties"]
}
